.icon-style {
    font-size: 10em;
    color: #44aadd;
}

.card {
    min-width: 150px;
    max-width: 200px;
    min-height: 80px;
    background-color: #44aadd;
    display: flex;
    margin-bottom: 10px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}